@keyframes fade-in {
    from {scale: .5; opacity: 0;}
    to{scale: 1;opacity: 1;}
}
@keyframes fade-out {
    0% {scale: 1;opacity: 1;}
    60%{scale: 1;opacity: 1;}
    100%{scale: .3; opacity: 0;}
}
@keyframes come-in {
    from {scale: 0;}
    to{scale: 1}
}
@keyframes breathing-glow-box {
    0%, 100% {
      box-shadow: 0 0 8px rgba(255, 255, 255, 0.5), 0 0 12px rgba(255, 255, 255, 0.5);
    }
    50% {
      box-shadow: 0 0 15px rgba(255, 255, 255, 0.75), 0 0 20px rgba(255, 255, 255, 0.75);
    }
}

body::-webkit-scrollbar {
    width: 0px; /* for vertical scroll */
}

body{
    background-color: #0c1016;
    margin: 0;
    width: 100vw;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow-x: hidden;

    /* background-color: #1B2430; */
}
.sps{
    position: fixed;
    right: calc(-100.5vw + 100%);
    z-index: 100;
    animation: scrollwatcher linear;
    animation-timeline: scroll();
}

@keyframes scrollwatcher {
    0% {
        transform: translateY(0); /* Starts and ends in the original position */
    }
    100% {
        transform: translateY(95vh); /* Moves up by 20px; adjust as needed */
    }
}
/* Style the scrollbar track (optional) */
::-webkit-scrollbar {
    width: 16px; /* Width of the scrollbar */
    height: 16px; /* Height of the scrollbar, for horizontal scrollbars */
}

::-webkit-scrollbar-thumb {
    background-image: url('');
    background-repeat: no-repeat;
    background-position: center;
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
    background: transparent; /* Light grey track */
}

.earthpic{
    position: absolute;
    scale: .8;
    z-index: 4;
    top: 170%;
    left: 200px;
    animation: come-in linear forwards;
    animation-timeline: view();
    animation-range-end: contain 100px;
    filter: drop-shadow(0 0 100px rgba(0, 174, 255, 0.5))
}
.star {
    position: fixed; 
    width: 4px; 
    height: 4px; 
    background-color: white;
    border-radius: 50%;
    animation: breathing-glow-box 2s ease-in-out infinite;
    z-index: 2; 
    pointer-events: none;
}

/*top bar section*/
.topbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 5;
    overflow: hidden; 
}

/* logo */
.logoarea{
    font-size: 20px;
    width: 50%;
    display: flex;
    
}
.parLogo{
    text-decoration: none;
    display: flex; 
    transition: transform 0.3s ease;
}
.parLogo:hover{
    transform: scale(1.2);
    animation: breathing-glow-svg 1s ease-in-out infinite; 
}
.logotopbar{
    display: flex;
    justify-content: right;
    margin-top: auto;
    margin-bottom: auto;
}
.ulo{
    height: 60px;
}

.logotexttopbar{
    font-weight: bolder;
    font-size: 23px;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}
.logotopbar{
    width: 100px;
}
/* ---------------------- */





/*drop down menu*/
.rightitems{
    overflow: visible;
    width: 50%;
    display: flex;
    justify-content: end;
}
.dropdown{
    display: flex;
    width: 110px;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    z-index: 5;
}

.dropdown-content {
    position: fixed;
    top: 0;
    right: -50vw; 
    width: 20vw; 
    height: 100%; 
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    transition: right 0.7s ease;
    color: white; 
    z-index: 5;
    display: grid;
    grid-template-rows: 15vh 7vh 7vh 7vh 7vh 100%;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}

@keyframes breathing-glow-text{
    0%, 100% {
      text-shadow: 0 0 8px white, 0 0 12px white;
    }
    50% {
      text-shadow: 0 0 15px white, 0 0 20px white;
    }
  }
  
  .about-text-dropdown, .profile-text-dropdown, 
  .courses-text-dropdown, .contactus-text-dropdown {
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease; 
    transform: scale(1); 
  }
  
  .about-text-dropdown:hover, .profile-text-dropdown:hover, 
  .courses-text-dropdown:hover, .contactus-text-dropdown:hover {
    transform: scale(1.2);
    animation: breathing-glow-text 1.5s ease-in-out infinite; 
  }
  




  @keyframes breathing-glow-svg {
    0%, 100% {
        filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.3)) drop-shadow(0 0 6px rgba(255, 255, 255, 0.3));
    }
    50% {
        filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5)) drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
    }
}


.dropdown-content.active {
    right: 0; 
}
.ham{
    height: 70px; 
    transition: transform 0.3s ease;
}
.ham:hover{
    animation: breathing-glow-svg 1.5s ease-in-out infinite;
    transform: scale(1.2);
}
.topbarlogin{
    justify-content: end;
}


/*---------------------*/






/*---------------------*/




.middlesection{
    height: 200vh;
    background-color: #0c1016;
    display: felx;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.topspacemid{
    height: 150px;
}
.firstpoint{
    height: 20vh;
}
.secondpoint{
    height: 20vh;
}
.thirdpoint{
    height: 20vh;
}
.bottomspacemid{
    display: flex;
    justify-content: center;
}

.carousel {
    position: relative;
    height: 500px;
    width: 80%;
    margin: 0 auto;
    z-index: 3;
}
.carousel_image{
    width: 100%;
    height: 100%;
}
.carousel_track-container{
    height: 100%;
    position: relative;
    overflow: hidden;
    animation: fade-out linear;
    animation-timeline: view();
    animation-range-end: cover;
}
.carousel_track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 750ms ease-in;
}

.carousel_slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
.carousel_button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
}
.carousel_button_left{
    left: -30px;
}

.carousel_button_right{
    right: -30px;
}

.carousel_indicator{
    border: 0;
    border-radius: 50%;
    width: 11px;
    height: 11px;
    background: rgb(255, 255, 255);
}
.carousel_indicator.current_slide, .carousel_indicator.animate-indicator {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.75), 0 0 12px rgba(255, 255, 255, 0.75);
}
.carousel_nav{
    animation: fade-out linear;
    animation-timeline: view();
    animation-range-end: cover;
    padding: 5px;
    display: flex;
    gap: 7px;
    justify-content: center;
    border: 1px solid white;
    border-radius: 12px;
    z-index: 2;
}

.is_hidden{display: none;}









.bottomsection{
    position: relative;
    overflow: hidden;
    height: 300vh;
    color: white;
    display: grid;
    background-color: #0c1016;
    grid-template-columns: 25% 50% 25%;
}
.loginfield{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-sizing: border-box;
    border: 10px;
    
}

.log{
    height: 400px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(10px);
    color: rgb(255, 255, 255);
    z-index: 6;
}
.loginbox, .passwordbox{
    font-size: 20px;
    color: white;
    border: 1px solid #ffffffed;
    width: 75%;
    align-content: center;
    vertical-align: center;
    height: 8%;
    padding: 14px 16px;
    margin: 0;
    margin: 1px auto;
    margin-bottom: 6px;
    border-radius: 14px;
    background-color: transparent;
}
.loginbox:focus, .passwordbox:focus {
    outline: none; 
    animation: breathing-glow-box 2s ease-in-out infinite;
}
.forgot, .guest{
    color: rgb(255, 255, 255);
    padding: 14px 16px;
    margin: 1px auto;
}
.forgot:hover, .guest:hover{
    cursor: pointer;
    animation: breathing-glow-text 2s ease-in-out infinite;
}
.login, .newaccount{
    border-radius: 14px;
    font-size: 16px;
    background-color: transparent;
    width: 50%;
    height:10%;
    margin: 1px auto;
    border: 1px solid #ffffffed;
    color: white;
}
.login:hover, .newaccount:hover{
    animation: breathing-glow-box 2s ease-in-out infinite, breathing-glow-text 2s ease-in-out infinite;
}

.line{
    color: black;
    align-items: center;
    display: flex;
    margin: 16px 10px;
    text-align: center;
    border-bottom: 1px solid gray;
}
.moon{

    position: absolute;
    left: 70%;
    top: 105%;
    scale: 2;
    z-index: 4;
    filter: drop-shadow(0 0 100px rgba(255, 255, 255, 0.5))
}
